$primary: SeaGreen;
$body-bg: Honeydew;
@import '~bootstrap/scss/bootstrap.scss';

img {
  height: 275px;
  width: 200px;
}

.button-image {
  height: 800px;
  width: 200px;
}

.login-button {
  margin-top: 1rem;
}

.profile-form {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-top: 1rem;
}

.profile-info {
  margin-top: 1rem;
}

.user-info-button {
  margin-top: 1rem;
}